<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %> 
    </head>

    <body>
        <h1> <%= titulo  %> </h1>
        <%- include('../partials/bodyFormulario') %> 
    </body>
</html>