<table border="1">
  <tr>
    <td>Nombre</td><td>Precio</td><td>Foto</td>
  </tr>
{{#each productos}}
  <tr>  
     <td>{{title}} </td> 
     <td>{{price}}</td> 
     <td><img class="image" src={{thumbnail}} style="width:25px ;height:25px"></td>
  </tr>   
{{/each}}
</table>