extends index

block producto 
    div(class="container")
        form(action="/productos",method="post")
            div(class="form-group") 
                label(for="title") Title  
                input(type="text",name="title",id="title", class="form-control",required)
            div(class="form-group")
                label(for="price") Price
                input(type="number",name="price",id="price", class="form-control",step="0.01",min="0",required)  
            div(class="form-group") 
                label(for="foto") Foto Url
                input(type="url",name="thumbnail",id="thumbnail", class="form-control",placeholder="https://example.com",pattern="https://.*",size="30",required="true")  
            div(class="btn-group btn-group-justified") 
                input(type="submit", value="Enviar", class="btn btn-default")
                input(type="button", value="Cancelar" onclick="location.href='/productos'", class="btn btn-default")
