extends index

block producto 

    div No se encontraron productos

    form(action="/",method="get",class="form-producto")
        input(type="submit", value="Agregar producto" class="btn btn-default")
