extends index

block producto 
  div(class="container")
    table.table-striped(class="table")
      tr
        th Nombre 
        th Precio
        th Foto


      each p in productos
        tr
          td= p.title 
          td= p.price
          td= img
              img.image(src=p.thumbnail, style="width:25px ;height:25px")

    div(class = "btn-group btn-group-justified")
      form(action="/",method="get",class="form-producto")
        input(type="submit", value="Agregar producto" class="btn btn-default")


    
